
@CHARSET "UTF-8";

*{position:relative;margin:0;padding:0;color:white;text-align:center;font-family:"Hiragino Maru Gothic Pro";
	-webkit-touch-callout: none;
    -webkit-user-select: none;
    -webkit-tap-highlight-color:transparent;border:0;outline:none;
}

body{width:100%;height:100%;background-color: #2A84D2;}
div{width:100%;font-size:14pt;}

h2 {color:white;font-size:14pt;height:44px;line-height:44px;}
#header{height:64px;border-bottom:1px solid white;background-color:transparent;}
#header *{height:44px;top:14pt;}
#header button{width:80px;position:absolute;z-index:1;}
#header button#h_right{right:0;}

h1 {color:white;font-size:14pt;height:44px;line-height:44px;font-weight:bold;width:100%;position:absolute;left:0;right:0;bottom:0;}

#content {
	height:100%;
	background-color: #2A84D2;
	color:white;
}

#content .wrapper {
	
}

.layer {width:100%;height:100%;}

@-webkit-keyframes l_r{0%{left:0;}100%{left:100%;}}
@-webkit-keyframes r_l{0%{left:100%;}100%{left:0;}}
@-webkit-keyframes b_t{0%{top:700px;}100%{top:0px;}}
@-webkit-keyframes t_b{0%{top:0px;}100%{top:700px;}}

.anime_l{-webkit-animation:r_l 0.2s ease-out;}
.anime_r{-webkit-animation:l_r 0.2s ease-in;}
.anime_b{-webkit-animation:t_b 0.3s ease-in;}
.anime_t{-webkit-animation:b_t 0.3s ease-out;}

.pair{
	width:200px;height:60px;overflow:hidden;float:none;
	background-repeat: no-repeat;
	background-position:center center;
	background-image: url("../images/ico_plus.png");
	background-size:32px auto;
	margin-left:auto;margin-right:auto;
}

.pair img{width:60px;height:60px;border-radius:30px;float:left;}
.pair img:last-child{float:right;}

.back{background-repeat: no-repeat;background-image: url("../images/ico_back.png");background-size:auto 36px;}

ul.list{}
.list li{border-bottom:1px solid white;height:44px;list-style:none;}
.list li:last-child{}
.list li:first-child{border-top:1px solid white;}
.list label{text-align:left;white-space:nowrap;position:absolute;left:10px;line-height:44px;height:44px;}
.list span{text-align:right;white-space:nowrap;position:absolute;right:10px;line-height:44px;height:44px;width:200px;}


button{background-color: transparent;color:white;display:block;font-size:14pt;}
button{outline:none;}
button.btn{background-color:white;color:#2A84D2;width:80%;height:44px;line-height:44px;margin:22px auto;-webkit-tap-highlight-color:white;}
button.btn:focus{background-color:#2A84D2;color:white;}
button.btn_r{width:120px;height:120px;border-radius:60px;margin:20px;margin-left:auto;margin-right:auto;border:1px solid white;}


dl{overflow:hidden;border:1px solid white;border-radius:3px;height:40px;width:auto;margin:10px;}
dd{display:inline-block;height:40px;border-right:1px solid white;line-height:40px;font-size:12pt;}
dd:last-child{border-right:0;}
dd.on{background-color:white;color:#2A84D2;}

#calendar {overflow: hidden;margin-bottom: 10px;padding-bottom: 5px;
}
#calendar *{line-height:44px;height:44px;}
#calendar .title{}
#calendar .titleWrapper{width:100%;}
#calendar .title label{display:inline-block;font-size:18px;font-family:Verdana;}
#calendar .title a{display:absolute;font-size:18px;display:inline-block;text-decoration:none;width:60px;}
#calendar .title a:first-child{left:10px;}
#calendar .title a:last-child{right:10px;}
#calendar .subtitle {text-align: center;padding-top:3px;padding-bottom:3px;}
#calendar .subtitle li{width:14.1%;display: inline-block; color:white;font-size:14px;}
#calendar .days {padding-bottom:3px;}
#calendar .days li{text-align: right;display: inline-block;width: 14%; 
	height:44px;color:#fff;font-size:14px;padding-top:10px;position:relative;
	border-top:1px solid white;font-family:Verdana;
}
#calendar .days .sun{color:#F33;}
#calendar .days .sat{color:#6CF;}
#calendar .days .other{color:#CCC;}



#new_view dd{width:90px;}
#new_view .trans{width:272px;margin-left:auto;margin-right: auto;}



